*{
    font-family: 'Gill Sans', sans-serif;
    list-style: none;
    padding: o;
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Share Tech', sans-serif;
    font-size:16px;
    color: #505050;
    background:#333;
    overflow-x:hidden;
}

main {
    position:relative;
    padding:7vh 0 10vh;
    opacity:0;
    margin-top:-5px;
}

@media all and (min-width:670px) {
    main { 
        width: 570px;
        margin-left: 10vw;
    }
}

@media all and (max-width:670px) {
    main { margin:0 15px }
}

.wave {
    width:100vw;
    height:150px;
    position:fixed;
    bottom:0;
    fill:#1b7477;
    z-index:-1;
}

#one {
    height:180px;
    fill:#8adbd3;
    width:120vw;
    left:-10vw;
}

h1, h2 {
    position:relative;
    display:flex;
    align-items:center;
    font-family:'Share Tech Mono', monospace;
    line-height: 1em;
    word-spacing:-.1em;
    letter-spacing:-.05em;
    transition:.2s all ease;
    margin-left:10px;
    margin-bottom:15px;
}

h1 span, h2 span { 
    background:rgba(238,238,238,.7);
    padding:5px 7px;
    border-radius:10px;
    box-sizing:border-box;
}
h1, h2:active { color:#51b5ac; }
h1 { font-size:2.2em }
h2 { cursor:pointer }
p:first-child { margin-top:0 }
p:last-child { margin-bottom:0 }

.subtext {
    position:relative;
    border-radius:10px;
    background: white;
    border:1px solid;
    padding:13px;
    line-height:1.5em;
}

.subtext:not(#main) {
    display:none;
}

.subtext ul { margin:0; padding:0 25px; }

.subtext a { 
    color:#0a9; 
    text-decoration:underline;
    cursor:pointer;
    transition:.2s all ease;
}

.subtext a:hover, h2:hover {
    color:#777;
}

.subtext:before {
    content:'';
    position:absolute;
    width:1px;
    background:#bbb;
    left:1.2em;
    height:1.2em;
    top:calc(-1.2em - 1px);
}

.subtext.coll:before {
    left:1em;
    height:1.2em;
    top:calc(-1.2em - 1px);
}

.hex:hover {
    transform:rotate(30deg);
}

.hex, .hex:before, .hex:after {
    height:1em;
    width:.59em;
    border:solid;
    border-width:1px 0;
    border-radius:2px;
    box-sizing:border-box;
}

main .hex { 
    position:relative;
    display:inline-block;
    margin-right:.5em;
    transition:.4s all ease;
}

.hex:before, .hex:after {
    content:'';
    position:absolute;
    margin-top:-1px;
    margin-left:1px;
/*     color:#ccc; */
}

.hex:before { transform:rotate(60deg); }
.hex:after { transform:rotate(-60deg); }

.hex, .hex:before, .hex:after, .subtext {
    border-color:#bbb;
}

.hex.moved {
    transform:rotate(30deg);
}

#hex-holder {
    position:fixed;
    height:100vh;
    width:100vw;
    top:0;
    z-index:-1;
    pointer-events:none;
    font-size:60px;
}

#hex-holder .hex {
    position:fixed;
}

#uno {
    border-radius:4px;
    border:none;
    background:#5b8b8c;
    transform:rotate(-12deg);
    bottom:30vh;
    left:30px;
}

#uno:before, #uno:after {
    margin-top:0;
}

#hex-holder .hex:before, #hex-holder .hex:after {
    border:inherit;
    border-radius:inherit;
    background:inherit;
}

#dos {
    border-color:#1B7477;
    border-radius:3px;
    border-width:5px 0;
    font-size:100px;
    bottom:12vh;
    right:-20px;
    transform:rotate(7deg);
}

#dos:before, #dos:after {
    margin-top:-5px;
}

#tres { display:none }

#bg {
/*     z-index:100; */
    position:fixed;
    top:0;
    height:100vh;
    width:100vw;
    box-sizing:border-box;
    border:5px solid black;
}
h3{
    margin: 5px;
    color: red;
}
.skillS{
    width: 100%;
    margin: 60px auto;
    color: #111;
    padding: 0 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0,0.25),0 10px 10px rgba(0, 0, 0,0.22);

}
.skill-name{
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    margin: 20px 0;
}
.skill-bar{
    background: #353b48;
    height: 14px;
    border: 1px solid rgba(0, 0, 0,0.3);
    border-radius: 10px;
}
.skill-bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0,0.25),0 10px 10px rgba(0, 0, 0,0.22);
}
.skill-per{
    height: 14px;
    background: red;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #bbb;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f1f1f1;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.col header.title{
    font-family: Arial, Helvetica, sans-serif;
    color: #11a372;
    padding: 0px 0px 20px 30px;
}
.col .contents{
    padding: 0px 30px;
    border-left: 2px solid #bababa;
}
.col .contents .box{
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #c6b3b3;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}
.col .contents .box:hover{
    box-sizing: 0px 3px 12px 0px #2a2727;
    border: 1px solid transparent;
}
.col .contents .box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #11a372;
    border: 2px solid white;
}
.box h4{
    position: relative;
    color: #011e14;
}
.box h3{
    font-size: 19px;
    padding: 10px 0px 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4a0909;
}
.box p{
    line-height: 1.2;
    color: #666;
    font-size: 17px;
}

.personalInfo{
    display: grid;
    grid-gap: 10px;
    margin-top: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #242323;
}
.personalInfo div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.personalInfo div span{
    color: #08080b;
    letter-spacing: 1px;
}
